/* line 2, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
#logo {
  color: #fff;
}

/* line 5, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
header ul a {
  color: #fff;
}

/* line 17, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
.col {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

/* line 23, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
.error {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
}

/* line 30, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
ul {
  padding-top: 10px;
  list-style: none;
}

/* line 35, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
.content-post {
  background-color: #fff;
  padding: 30px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
}

/* line 45, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
.posted-body {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin: 10px;
  padding: 30px;
  min-height: 200px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
}

/* line 60, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
.posted-action {
  float: right;
}

/* line 64, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
.posted-content {
  text-align: center;
  font-size: 2rem;
}

/* line 69, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
.posted-img {
  max-width: 100%;
}

/* line 73, /Users/setsuotokohorikawa/fakebook/app/assets/stylesheets/posts.scss */
.info {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  padding: 30px;
  margin-top: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
}
