<h1>Posts#index</h1>

<%= link_to '新規作成', new_post_path %>
<% @posts.each do |post| %>
      <p><%= post.content %></p>
      <%= link_to "編集", edit_post_path(post.id), data: {confirm: "編集しますか？"} %>
      <%= link_to "削除", post_path(post.id), method: :delete, data:{confirm: "削除しますか？"} %>
  <% end %>