html {
  position: relative;
  min-height: 100%;
  }

body {
  margin-top: 70px;
  }

header {
  background-color: #0322d1;
  max-height: 70px;
}

footer {
  width: 100%;
  background-color:#0322d1;
  padding: 20px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  }